body {
    background-color: #000;
    

}

.title {
    text-align: center;
    
    
    margin-top: 100px;
}
.title h1 {
    font-size: 100px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    color:#fff;
    opacity: 0.7;
}
.title h2 {
    font-size: 100px;
    font-family:"微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    font-weight: 200;
    color:#fff;
    opacity: 0.7;
}